<nav class="navbar window navbar-default main-navbar navbar-toggleable-md navbar-light">
    <a class="btn sharp btn-link btn-sm brand-logo mr-auto" href="/">
        As
    </a>

    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                PL
            </a>

            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">EN</a>
                <a class="dropdown-item" href="#">US</a>
                <a class="dropdown-item" href="#">FR</a>
            </div>
        </li>
    </ul>
    <a class="btn btn-default" href="/advertisements/create">
        ADD AD
    </a>
</nav>