.navbar {
    min-height: 0px;
}

.btn.sharp {
    border-radius: 0;
}

body {
    background: #f5f5f5;
    overflow-y: scroll;
}

.navbar {
    margin-bottom: 0px;
}

.break {
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 2px dashed gray;
    width: 250px;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

a {
    text-decoration: none;
}

.btn-default {
    background: #C1839F;
    color: #f5f5f5;
    border-color: transparent;
}

.navbar-default .navbar-nav > li > a:focus.btn-default,
.navbar-default .navbar-nav > li > a:hover.btn-default {
    background-color: #c1839f;
    color: #f5f5f5;
}

.btn-primary {
    color: #f5f5f5;
    background-color: #087E8B;
    border-color: #087E8B;
    font-family: 'Raleway', sans-serifa;
    border-radius: 0px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover,
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open>.dropdown-toggle.btn-primary.focus,
.open>.dropdown-toggle.btn-primary:focus,
.open>.dropdown-toggle.btn-primary:hover {
    opacity: 0.85;
    color: #f5f5f5;
    background-color: #08535e;
    border-color: #08535E;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
}

.window {
    -webkit-box-shadow: 0 0 5px #ccc;
    box-shadow: 0 0 5px #ccc;
    background: #fff;
}

.checkbox label, .radio label {
    padding-left: 0px;
}

.no-padding-right {
    padding-right: 5px;
}

.no-padding-left {
    padding-left: 5px;
}

.bx-wrapper .bx-viewport {
    -webkit-box-shadow: none;
    box-shadow: none;
    left: 0px;
}

.form-control {
    font-family: 'Raleway', sans-serifa;
    font-size: 12px;
    border-radius: 0px;
    margin: 10px 0px;
}

.checkbox label,
.radio label {
    font-family: 'Raleway', sans-serifa;
    font-size: 12px;
}

/* ----- OFFERS ----- */
.offers {
    margin-top: 10px;
}

.offer {
    padding: 5px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.offer:hover,
.offer:active,
.offer:visited,
.offer:focus {
    opacity: 0.85;
    background: rgba(195, 195, 195, 0.3);
}

.offer img {
    width: 100%;
}

.offers .row {
    margin: 0px;
}

.offers .row .col-md-2 {
    padding: 0px;
}

/* ----- MAIN NAVBAR ----- */
.main-navbar.navbar-default .navbar-nav > li > a.btn-default {
    color: #F5F5F5;
}

.brand-logo.btn.btn-link {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    padding: 24px 50px;
}

.main-navbar {
    border-radius: 0px;
    border-bottom: none;
    border-right: none;
    background: #ffffff;
}

.main-navbar .btn {
    padding: 25px 50px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 4px;
    transition: all 0.25s linear;
}

.main-navbar .dropdown .dropdown-toggle {
    padding: 26px 30px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 4px;
    transition: all 0.25s linear;
    background: #ffffff;
    color: #3c3c3c;
    border-color: transparent !important;
    font-size: 12px;
}

.main-navbar .dropdown .dropdown-toggle:hover,
.main-navbar .dropdown .dropdown-toggle:active,
.main-navbar .dropdown .dropdown-toggle:focus{
    background: #eeeeee;
}

.main-navbar .btn-default:hover {
    background: #C1839F;
    color: #f5f5f5;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
}

.container-fluid > .navbar-collapse,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container > .navbar-header {
    margin-right: -15px;
    margin-left: -30px;
}

/* ----- MINI NAVBAR ----- */
.mini-navbar {
    margin-top: 10px;
}

.mini-navbar .nav .btn-default {
    padding: 10px 15px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    transition: all 0.25s linear;
    font-size: 12px;
    background-color: #e6e6e6;
    color: #000000;
    line-height: inherit;
}

.mini-navbar .btn-default.login-btn {
    background: rgba(8, 126, 139, 0.65);
    color: #ffffff;
}

.mini-navbar li:not(:last-of-type) {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.mini-navbar .btn-default:hover {
    background: #C1839F !important;
    color: #ffffff !important;
}

/* ----- DASHBOARD ----- */
.dashboard {
    margin-top: 10px;
}

/* ----- MODAL ----- */
v-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px 20px;
}

.vModal--default v-dialog {
    background: #f5f5f5;
}

.vModal--default v-close {
    background: #f5f5f5;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.vModal--default v-close:hover {
    background: #E15554;
}

.vModal--default v-close::after,
.vModal--default v-close::before {
    background-color: #087E8B;
    -webkit-transition: background-color 0.25s;
    transition: background-color 0.25s;
}

.vModal--default v-close:hover::after,
.vModal--default v-close:hover::before,
.vModal--default v-close:focus::after,
.vModal--default v-close:focus::before {
    background-color: #f5f5f5;
}

/* ----- LOGIN FORM ----- */
.form-signin h2 {
    margin: 0 0 10px 0;
    font-family: 'Raleway', sans-serifa;
    font-size: 1.5em;
}

/* ----- ICHECK ----- */
.icheckbox_square-aero,
.iradio_square-aero {
    margin-right: 5px;
}

/* ----- LEFT-MENU ----- */
.left-menu .btn {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    letter-spacing: 4px;
    background: #ffffff;
    color: #3c3c3c;
    border: none;
    border-bottom: 1px solid rgba(60, 60, 60, 0.14);
    border-left: 1px solid rgba(60, 60, 60, 0.14);
    border-right: 1px solid rgba(60, 60, 60, 0.14);
    border-radius: 0px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    text-align: left;
    padding-left: 25px;
    font-weight: 700;
}

.left-menu .btn:first-of-type {
    border-top: 1px solid rgba(60, 60, 60, 0.14);
}

.left-menu .menu-text {
    text-align: center;
    padding: 15px 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    letter-spacing: 4px;
    font-weight: 700;
}

.left-menu .btn:hover,
.left-menu .btn:active,
.left-menu .btn:focus,
.left-menu .btn:visited {
    background: #C1839F;
    color: #f5f5f5;
}

/* ----- PROMOTED GIRLS ----- */
.promoted-text {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    background: #087E8B;
    padding: 10px 0;
    color: #f5f5f5;
    letter-spacing: 3px;
}

.girls-slider.animate li {
    -webkit-transition: opacity 0.25s;
    -moz-transition: opacity 0.25s;
    -ms-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s;
}

.girls-slider.animate li:hover {
    opacity: 0.75;
    background: rgba(195, 195, 195, 0.3);
}

.name {
    margin-top: 5px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-style: italic;
    color: #C1839F;
}

.city {
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #5c5c5c;
}

/* ----- SEARCH ----- */
.search .search-text {
    border-top: 1px solid rgba(60, 60, 60, 0.14);
    padding: 5px 0 5px 25px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    letter-spacing: 4px;
    font-weight: 700;
    background: rgba(195, 195, 195, 0.4);
    color: #000000;
    text-align: left;
}

.search .select2-container {
    width: 100% !important;
}

.search .select2-container--default .select2-selection--single {
    border-bottom: none;
    border-left: 1px solid rgba(60, 60, 60, 0.14);
    border-radius: 0px;
    border-right: 1px solid rgba(60, 60, 60, 0.14);
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    letter-spacing: 4px;
    border-top: none;
    padding: 5px 0px 5px 25px;
}

.search .select2-container--default .select2-selection--single .select2-selection__arrow b {
    top: 60%;
}

.search .select2-container .select2-selection--single {
    height: auto;
}

.search .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: inherit;
}

.select2-search--dropdown .select2-search__field,
.select2-results__option {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    letter-spacing: 4px;
    padding-left: 25px;
}

.search .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0px;
}

.search .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #c3c3c3;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #C1839F;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #087E8B;
}

.select2-container--open .select2-dropdown--above {
    border-radius: 0px;
    border: 1px solid rgba(60, 60, 60, 0.14);
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid rgba(60, 60, 60, 0.14);
}

/* ----- FOOTER ----- */
.footer {
    margin-top: 10px;
    font-family: "Raleway", sans-serif;
}

.main-footer {
    padding: 40px;
    background: #C1839F;
    color: #3C3C3C;
}

.mini-footer {
    background: #3C3C3C;
    color: #f5f5f5;
}

.footer .links p a {
    color: #f5f5f5;
    font-size: 13px;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}

.footer .links p a:hover {
    color: #f5f5f5;
    font-size: 13px;
    opacity: 0.7;
}

/* ----- DETAILS -----*/
.details {
    margin-top: 10px;
}

.details .description span.text {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    /*font-style: italic;*/
    font-weight: 400;
}

.details .description {
    padding: 40px;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0px;
}

.details span.bold {
    font-family: "Raleway",sans-serif;
    font-size: 14px;
}

.details span.text {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.details h2 {
    font-family: "Lobster", sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 34px;
}

.adv-details {
    margin-top: 20px;
}

.ng-enter:not(v-modal) {
    -webkit-animation: fadeInFromNone 0.8s ease-out;
    -moz-animation: fadeInFromNone 0.8s ease-out;
    -o-animation: fadeInFromNone 0.8s ease-out;
    animation: fadeInFromNone 0.8s ease-out;
}

.adv-services .btn-link {
    border: 1px solid #2C2416;
    color: wheat;
    background: #453823;
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    margin-bottom: 5px;
    -webkit-transition: background-color 0.25s;
    -moz-transition: background-color 0.25s;
    -ms-transition: background-color 0.25s;
    -o-transition: background-color 0.25s;
    transition: background-color 0.25s;
}

.adv-services .btn-link:hover {
    background-color: gray;
    text-decoration: none;
}


@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

/* ----- REGISTER -----*/
.register {
    margin-top: 10px;
}

.register-choice {
    padding: 20px;
    border: 5px solid #ffffff;
    -webkit-transition: border 0.25s;
    -moz-transition: border 0.25s;
    -ms-transition: border 0.25s;
    -o-transition: border 0.25s;
    transition: border 0.25s;
    display: block;
    color: #000000 !important;
}

.register-choice:hover {
    border: 5px solid #C1839F;
}


.register-choice .description {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
}

.register h2 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    text-align: center;
}

/* ----- REGISTER ADVERTISER ----- */
.register-form .form-control {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    border-radius: 0px;
    margin: 5px 0px 10px 0px;
}

.register-form label {
    margin-bottom: 0px;
    margin-left: 0px;
}

.advertiser {
    margin-top: 10px;
    padding: 20px;
}

/* ----- CONTACT ----- */
.contact {
    margin-top: 10px;
    padding: 20px;
}